html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #DAE0E6;
  width: 100%;
}

.all_contents_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.all_post_display {
  display: flex;
  width: 76%;
  flex-direction: column;
}

.ad_space {
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
}

.side_ad {
  width: 250px;
  height: 500px;
}

.post_div {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .navbar_ul {
  list-style: none;
}

.navbar {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  background-color: white;
  margin-bottom: 25px;
  margin-top: 0px;
}

.reddit_logo {
  background-color: white;
  display:block;
  width: 130px;
  height: 45px;
  margin: 0px;
}

.post {
  display: flex;
  background-color: white;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  height: 100px;
}

.post p, h4 {
  margin: 0px;
  text-align: left;
  margin-top: 10px;
}

.scrolldown_menu {
  width: 270px;
  margin-right: 30px;
}

.scrolldown_menu_tabs {
  width: 270px;
  z-index: 1;
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  margin-left: 10px;
}

.scrolldown_menu_button button {
  width: 270px;
  border-radius: 0px;
  text-decoration: none;
  outline: 0;
  margin-left: 10px;
  height: 30px;
  background-color: white;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.scrolldown_menu_button button:hover {
  width: 270px;
  border-radius: 0px;
  text-decoration: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  outline: 0;
  margin-left: 10px;
  height: 30px;
  background-color: white;
}

.likes_count {
  margin-right: 20px;
  align-items: center;
  flex-direction: column;
}

.popular_posts_logo_blue_nav {
  width: 25px;
  height: 25px;
}

.popular_logo_scrollmenu {
  width: 20px;
  height: 20px;
}

.allPosts_logo_scrollmenu {
  width: 20px;
  height: 20px;
}

.all_posts_logo_blue_nav {
  width: 27px;
  height: 27px;
  padding: 5px;
  margin: 10px;
}

.search_bar_nav {
  width: 30%;
  height: 30px;
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 5px;
}

.login_button {
  width: 120px;
  height: 30px;
  margin-right: 15px;
  border-radius: 4px;
  color: #307acc;
  border: 1px solid #307acc;
  font-weight: bold;
}

.signup_button {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #307acc;
  color: white;
}

.signup_button:hover {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #307acc;
  color: white;
  opacity: .8;
}

.authform_div {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background:rgba(28,53,94,0.3);
align-self: center;
}

.authform {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 80%;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px, 10px;
}

.authform_contents {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.signin_x_mark {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.signin_side_img {
  width: auto;
  height: 100%;
  margin-right: 50px;
}

.signin_logo_img {
  width: 150px;
  height: auto;
}

.upvote_arrow {
  width: 15px;
  height: auto;
}

.downvote_arrow {
  width: 15px;
  height: auto;
}

.likes_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes_count p {
  margin-top: 10px;
  margin-bottom: 10px;
}
